.container {
  background-image: url("../../../assets/images/home_main_picture-min.jpg");
  
  height: 100%;
  padding-top: 50%;
}

#home-main-text {
  color: white;
  font-size: 26px;
  font-weight: 800;
  text-align: center;
  
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // font-size: 10px;
  // font-weight: 700;
}
