<app-header [title]="title"></app-header>

<ion-content  >

  <div class="container">
    <div id="home-main-text">
       Bienvenue sur notre plateforme ! 
       Vous pourrez voir ici tous les informations concernant
       vos films et series préférées
    </div>
  </div> 
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias molestias consequuntur, illo tempore ipsam ullam. Explicabo repellendus eaque unde, odit aliquid corporis? Veniam soluta voluptate unde quidem libero! Nisi, voluptate praesentium eum accusantium est sint molestiae earum debitis qui? Ipsam cumque sed magnam atque quas corporis, odio consequatur sit id.</p>
</ion-content>