<app-header [title]="pageTitle"></app-header>

<ion-content>
  <div class="container">
    <div id="home-main-text">
      <p> Bienvenue sur notre plateforme !

        Vous pourrez voir ici tous les informations concernant
        vos films et series préférées</p>
    </div>
  </div>
  <h2 class="home-title"> Top films du moment</h2>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card>
      <ion-card-header>
        <ion-card-title>{{mostPopularMovies[0].title}}</ion-card-title>
      </ion-card-header>
      <ion-img [src]="mostPopularMovies[0].moviePictureUrl"></ion-img>

      <ion-card-content>
        {{mostPopularMovies[0].description}}
      </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
  <h2 class="home-title">Top series du moment</h2>


</ion-content>