<ion-app>

  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/home">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Accueil</ion-label>

          </ion-item>
          <ion-item routerLink="/movie">
            <ion-icon name="videocam-outline" slot="start"></ion-icon>
            <ion-label>Films</ion-label>
          </ion-item>
          <ion-item routerLink="/serie">
            <ion-icon name="tv-outline" slot="start"></ion-icon>
            <ion-label>Series</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>



  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>